<!-- <link rel="stylesheet" href="../assets/font/fontawesome/css/all.css" > -->

<!-- <div class="mat-snack-bar-container" style="width:100%; height:60px;"><h2>Application de sport</h2></div> -->

<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <a class="navbar-brand " routerLink="/"><span class="fas fa-home fa-lg " style="color:royalblue;"  ></span> Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link " routerLink="/grid">Grid<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link " routerLink="/form">Form</a>
         </ul>
    </div>
  </nav>
  <!-- <i class="pi pi-check"></i>
  <i class="pi pi-times"></i>
  <span class="pi pi-search"></span>
  <span class="pi pi-user"></span>
  <i class="pi pi-spin pi-spinner" style="font-size: 2rem"></i>
  <i class="pi pi-spin pi-cog" style="font-size: 2rem"></i> -->
  <button class="btn btn-light " routerLink="/grid"><span class="fas fa-business-time " style="color:royalblue;"  ></span><br>Fiches informations</button>
  <button class="btn btn-light " onclick="affiche_fen(2,id_pageEnCours)"><span class="fas fa-business-time " style="color:#a12c13;"  ></span><br>Historiques</button>
  <button class="btn btn-light" onclick="affiche_fen(3,id_pageEnCours)"><span class="fas fa-comments" style="color:royalblue;"   ></span><br>Foire aux questions</button>
  <button class="btn btn-light" onclick="affiche_fen(4,id_pageEnCours)"><span class="fas fa-comments" style="color: #a12c13 ;"   ></span><br>Historique Faq</button>
  <button class="btn btn-light" onclick="affiche_fen(7,id_pageEnCours)"><span class="fas fa-comments" style="color:green;"   ></span><br>Foire aux questions</button>
  <button class="btn btn-light " onclick="affiche_fen(3,id_pageEnCours)"><span class="fas fa-comments" style="color: green;"></span><br>Questions référents QSR en cours </button>
  <button class="btn btn-light " onclick="affiche_fen(4,id_pageEnCours)"><span class="fas fa-comments" style="color: gray;"></span><br>Questions personae en cours </button>
  <button class="btn btn-light" onclick="affiche_fen(5,id_pageEnCours)"><span class="fas fa-chart-pie " aria-hidden="true" style="color: navy;"></span><br>Statistiques</button>
  <button class="btn btn-light " onclick="affiche_fen(6,id_pageEnCours)"><span class="fas fa-shopping-cart "style="color: navy;"></span><br>Articles</button>

<router-outlet></router-outlet>
<app-footer></app-footer>
