
<nav>
    <ul>
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/grid">Grid</a></li>
      <li><a routerLink="/form">Form</a></li>
    </ul>
  </nav>

  <button class="btn btn-light " onclick="affiche_fen(1,id_pageEnCours)"><span class="fas fa-business-time " style="color:royalblue;"  ></span><br>Fiches informations</button>
			<button class="btn btn-light " onclick="affiche_fen(2,id_pageEnCours)"><span class="fas fa-business-time " style="color:#a12c13;"  ></span><br>Historiques</button>
			<button class="btn btn-light" onclick="affiche_fen(3,id_pageEnCours)"><span class="fas fa-comments" style="color:royalblue;"   ></span><br>Foire aux questions</button>
			<button class="btn btn-light" onclick="affiche_fen(4,id_pageEnCours)"><span class="fas fa-comments" style="color: #a12c13 ;"   ></span><br>Historique Faq</button>
			<button class="btn btn-light" onclick="affiche_fen(7,id_pageEnCours)"><span class="fas fa-comments" style="color:green;"   ></span><br>Foire aux questions</button>
			<button class="btn btn-light " onclick="affiche_fen(3,id_pageEnCours)"><span class="fas fa-comments" style="color: green;"></span><br>Questions référents QSR en cours </button>
			<button class="btn btn-light " onclick="affiche_fen(4,id_pageEnCours)"><span class="fas fa-comments" style="color: gray;"></span><br>Questions personae en cours </button>
			<button class="btn btn-light" onclick="affiche_fen(5,id_pageEnCours)"><span class="fas fa-chart-pie " aria-hidden="true" style="color: navy;"></span><br>Statistiques</button>
			<button class="btn btn-light " onclick="affiche_fen(6,id_pageEnCours)"><span class="fas fa-shopping-cart "style="color: navy;"></span><br>Articles</button>
  <h3>TEST W2UI AVEC ANGULAR-CLI</h3>
<router-outlet></router-outlet>
<app-footer></app-footer>
